<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/first_page.css') }}">
    <script src="{{ url_for('static', filename='./scripts/login_register.js') }}" defer></script>
</head>
<body>
    <section id="todo">
        <h2>Todo list</h2>
        <div id="contain">
        <button id="login" >Login</button>
        <button id="register">Register</button>
        </div>
    </section>
    
</body>
</html>